p-card{
    display: block;
    width:150px ;
    border: 2px solid rgb(168, 190, 170);
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:rgb(168, 190, 170);
    font-weight: bolder;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
.addCategory{
    width:min-content;
}

.p-grid{
    display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: stretch;
align-content: stretch;
}
