<div class="titre">
    <h1> Réservation </h1>
</div>
<div class="container">
    <div class="tel">
        <img class="telpic" src="../../assets/Reservation/tel.png" alt="">
        <p>PAR TELEPHONE</p>
        <p class="text">N’hésitez pas à nous appeler afin de trouver la formule qui vous convient le mieux.</p>
        <button pButton type="button" class="p-button-success p-button-rounded p-button-outlined" label="+32 498 34 29 75"></button>
    </div>
    <div class="tel">
        <img class="telpic" src="../../assets/Reservation/Connection.png" alt="">
        <p>SE CONNECTER</p>
        <p class="text">Connectez-vous pour une réservervation via le site, n'hésitez pas a créer votre compte.</p>
        <button pButton type="button" class="p-button-success p-button-rounded p-button-outlined" label="Se connecter" (click)="redirect()"></button>
    </div>
</div>
