<div class="titre">
    <h1> L'esprit Gusteau </h1>
    <!-- <div class="barre"> &nbsp;</div> -->
</div>
<div class="entete">
    <p>"Tout le monde peut cuisiner"</p>
</div>
<div class="container">
    <div class="img1">
        <img src="../../assets/Restaurant/Gusteaus10.jpg" alt="">
    </div>
    <div class="text1">
        <h2> Notre histoire</h2>
        <p>Chez Gusteau est un restaurant gastronomique situé à Paris, en France. Cet établissement de renommée mondiale appartenait au chef Auguste Gusteau.</p>
        <br>
        <p>Cette histoire est avant tout celle d’une famille : rares sont les établissements, dans le domaine de la cuisine, qui peuvent témoigner, de trois générations de présence. Chacune de celles-ci a cherché et a trouvé sa manière d’être à la fois fidèle et innovante. Coller à l’époque sans rien renier de ce qui a fait la spécificité de cette maison.</p>
        <br>
        <p>C’est en 1962 que la grand-maman, Gabrielle Gusteau, acquiert cette magnifique bâtisse d’époque en pierre,  pour offrir une hospitalité confortable, ainsi qu’une cuisine généreuse et heureuse. Auguste Gusteau, le fils de la maison, évoluant aux côtés de sa maman, poursuit ses études hôtelière au « Ceria » à Bruxelles ce qui lui permet de reprendre par la suite les fourneaux de la maison familiale -avec Marie-Claire qu’il vient de rencontrer- ce qu’on pourrait qualifier d’une passation  de flambeau offrant une cuisine à son image….. Bourgeoise et savoureuse! et ce fut un succès avec le célèbre canard à l’orange, le pintadeau aux cerises, la fabuleuse omelette « Norvégienne »…. Les familles se réunissent pour un weekend à la capitale ou pour fêter un événement …</p>
    </div>
</div>