<p-table [value]="listRepasRecup" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Plat</th>
            <th>Description</th>
            <th>Prix</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listRepasRecup>
        <tr>
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-success" (click)="submit(listRepasRecup.id)"></button>
            <td>{{listRepasRecup.plat}}</td>
            <td>{{listRepasRecup.description}}</td>
            <td>{{listRepasRecup.prix}}</td>
        </tr>
    </ng-template>
</p-table>
