

.all{
    position: relative;
    padding-left: 1vw;
    width: 80vw;
}

.title{
    font-size : 30px;
    font-family: "YourFontFamily";
    font-style:italic;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 4vw;
    // max-width: 100%;
    // height: auto;
}
.img1{
    width: 95%;
    margin-left: 2vw;
}
h2{
    font-style: italic;
    font-size: 35px;
}

.text{
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    color: gray;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-top: 50px;
}
h2{
    padding-bottom: 25px;
}

.littletext{
    padding-left: 100px;
}

.container{
    position: absolute;

}


.img2{
    // margin: 2px;
    // width: 1024px;
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.product-item {
    .product-item-content {
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }
}
.caroussel{
    margin: auto;
    width: 1025px;
}

::ng-deep{
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: rgb(157, 206, 171);
    box-shadow: 0 0 0 0.2rem rgb(100, 143, 107);
    }
    .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
        color: grey;
    }
    .p-carousel .p-carousel-content .p-carousel-prev:focus, .p-carousel .p-carousel-content .p-carousel-next:focus{
        box-shadow: 0 0 0 0.2rem rgb(100, 143, 107);
    }
} 

.table:hover{
    transform: scale(1.05);
}

.product-item-content:hover{
    img{
        transform: scale(1.05);
    }
}

.takeaway{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin-bottom: 1vh;
}

.txttakeaway {
    p{
    font-weight: bold;
    color: rgb(0, 0, 0);
    }
    font-family:'Courier New', Courier, monospace;
    color: grey;
    font-size: 30px;
    text-align: center;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-top: 50px;
    
}

.footer{
    img{
        width: 100%;
        border-radius: 12px;

    }
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    color:white;
    border-radius: 8px;
    position:relative;
}

.info{
    position: absolute;
    top: 40px;
    right: 30px;
}




