<div class="titre">
    <h1> Restaurant Gastronomique </h1>
</div>
<div class="all">
    <img class="img1" src="../../assets/Restaurant/Paris10.jpg" alt="">
        <div class="title">
        <h2>Bienvenue chez Gusteau</h2>
        </div>

    <div class="text">
        <!-- <h2> Restaurant Gastronomique</h2>
        <br> -->
        <p>Le Restaurant "Bienvenue chez Gusteau" est dirigé de façon dynamique et ambitieuse par le jeune et talentueux chef étoilés Linguini et son assistant Rémy </p>
    </div>
</div>
    <div class="caroussel">
        <p-carousel [value]="cars" [numVisible]="1" [numScroll]="1" [circular]="true" >
            <ng-template let-car pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                                        <img class="{{car.title}}" src={{car.url}} alt="">
                    </div>
                </div>

            </ng-template>
        </p-carousel>
    </div>
