<div class="display">
  <header>
    <div class="layout-sidebar">
      <div class="logo">
        <a href="">
          <img src="../assets/Img Acceuil/Gusteau4.jpg" alt="">
        </a>
      </div>
      <div class="list">
        <li>
          <ul>
            <button pButton type="button" [routerLink]="RedirectToEspritGusteau.url" class="p-button-success p-button-text" label="{{RedirectToEspritGusteau.title}}"></button>
          </ul>
          <ul>
            <button pButton type="button" [routerLink]="RedirectToResto.url" class="p-button-success p-button-text" label="{{RedirectToResto.title}}"></button>
          </ul>
          <ul>
            <button pButton type="button" class="p-button-success p-button-text">Carte</button>
          </ul>
          <ul>
            <button pButton type="button" [routerLink]="RedirectToReservation.url" class="p-button-success p-button-text" label="{{RedirectToReservation.title}}"></button>
          </ul>
          <!-- <ul  *ngIf=" _session.user?.userlevel == 'ADMIN'  ">     ce sera pour l'apparition du menu des employé avec liste des réservations et 
            <button pButton type="button" [routerLink]="RedirectToMenuMaker.url" class="p-button-success p-button-text" label="{{RedirectToMenuMaker.title}}"></button>
          </ul> -->
          <ul  *ngIf=" _session.user?.userlevel == 'ADMIN'  ">
            <button pButton type="button" [routerLink]="RedirectToMenuMaker.url" class="p-button-success p-button-text" label="{{RedirectToMenuMaker.title}}"></button>
          </ul>
        </li>
      </div>
      <div class="roundpoint">
              <p-speedDial [model]="items" direction="right" type="semi-circle" [transitionDelay]="100" showIcon="pi pi-comments" hideIcon="pi pi-times" buttonClassName="p-button-outlined p-button-success"></p-speedDial>
      </div>
    </div>

  </header>
  <div class="try">
    <router-outlet></router-outlet>
  </div>
</div>
<div>

</div>

<p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Bonjour, {{_session.user?.name}}</h1>
  <p-button type="button" (click)="display = false" label="Se déconnecter" styleClass="p-button-success" (click)="disconnected()"></p-button>
  <p-button type="button" (click)="display = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

  <p-button type="button" class="logoco" *ngIf="_session.user?.userlevel" (click)="display = true" icon="pi pi-user"></p-button>


