.layout-sidebar{
    left: 0;
    top: 50px;
    height: 100%;
    background-color: white;
    width: 18vw;
    flex-direction: column;
    display: flex;
    position:sticky;
    padding: 10px;
}

img{
    justify-content: center;
    align-items: center;
    width: 17vw;
}

.display{
    display: flex;
    flex-direction:row;
}
li{
    text-decoration: none;
    list-style-type: none;
}

.try{
    flex: 1;
    // padding-bottom: 2.5rem;
    // min-height: 100vh;
    // position: relative;
}

.roundpoint{
    padding-left: 5vh;
    padding-top: 75px;
}
.p-speeddial-semi-circle {
    &.p-speeddial-direction-right {
        left: 0;
        top: calc(50% - 2rem);
    }
}

button{
    font-family:'Courier New', Courier, monospace;
}

::ng-deep {
    .p-element.p-speeddial-item a {
        background-color: rgb(157, 206, 171);
    }
}

.botPlace{
    margin-top: 250px;
}

.logoco{
    position: fixed;
    display: block;
    top: 70px;
    right : 0px;
    cursor: pointer;
    z-index: 1;
}

::ng-deep{
    .logoco .p-button{
        background-color: rgb(157, 206, 171);
        border-color: rgb(255, 255, 255);
        width : 50px;
        height: 50px;
    }
    .logoco .p-button:hover{
    background-color: rgb(157, 206, 171);
    border-color: rgb(255, 255, 255);
    }

}

::ng-deep{
    .adminMenu .p-button{
        background-color: rgb(157, 206, 171);
        border-color: rgb(255, 255, 255);
    }
    .adminMenu .p-button:hover{
        background-color: rgb(157, 206, 171);
        border-color: rgb(255, 255, 255);
    }

}

p-sidebar{
    font-family:'Courier New', Courier, monospace;
}
// footer{
//     margin-left: 18vw;
//     // position: relative;
//     height: 150px;
//     background-color: grey;
//     bottom: 0px;
//     left: 0px;
//     right: 0px;
// }


