.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    width:80vw;
    margin-top: 2vw;
}

.menuDuJour{
    width: 100%;
    display: block;
}