<div class="titre">
    <h1>Carte</h1>
</div>

<div class="container">
<img src="../../../assets/Carte/611Z7-Q5V2L._AC_SX425_.jpg" alt="">

<div class="Menu">
    <div *ngFor="let category of listeCategory">
        <h3>{{category.type}}</h3>
        <div *ngFor="let item of listRepas">
            <div *ngIf="item.categoryId == category.id">
                <p>
                    {{item.description}}   {{item.prix}}€
                </p>
            </div>
        </div>
    </div>
</div>
</div>