<div class="titre">
    <h1> Gestionnaire Du Menu </h1>
</div>

<ul>
    <li><button pButton type="button" routerLink="category" class="p-button-success p-button-text p-button-raised p-button-lg" label="category"></button></li>
    <li><button pButton type="button" routerLink="repas" class="p-button-success p-button-text p-button-raised p-button-lg" label="repas"></button></li>
    <li><button pButton type="button" routerLink="repas" class="p-button-success p-button-text p-button-raised p-button-lg" label="client"></button></li>
    <li><button pButton type="button" routerLink="menudujour" class="p-button-success p-button-text p-button-raised p-button-lg" label="menu du jour a emporter"></button></li>
    <li><button pButton type="button" routerLink="repas" class="p-button-success p-button-text p-button-raised p-button-lg" label="emplacement"></button></li>
    <li><button pButton type="button" routerLink="repas" class="p-button-success p-button-text p-button-raised p-button-lg" label="authorisation"></button></li>
</ul>

<router-outlet></router-outlet>

